<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="DcapServiceSoap"
                      closeTimeout="00:10:00"
                      openTimeout="00:10:00"
                      receiveTimeout="00:10:00"
                      sendTimeout="00:10:00"
                      allowCookies="false"
                      maxBufferSize="2147483647"
                      maxBufferPoolSize="2147483647"
                      maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:39227/view/DcapService.asmx"
                binding="basicHttpBinding" bindingConfiguration="DcapServiceSoap"
                contract="DcapServiceReference.DcapServiceSoap" name="DcapServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
